body{background-color: black;}
body{background-image: run_ht.jpg;}
p{color:chartreuse; font-size: larger; font-style: italic;}
button{background-color: chartreuse;
tabela{background-color: chartreuse;}
tr{background-color: chartreuse;}
